<!DOCTYPE html>
<html>
    <body>
        <h2>TEST</h2>

        <form action="/method" method="POST">
            <label for="fname">usernum:</label><br>
            <input type="text" id="usernum" name="usernum" value=""><br>
            <label for="lname">username:</label><br>
            <input type="text" id="username" name="username" value=""><br>
            <label for="fname">userid:</label><br>
            <input type="text" id="userid" name="userid" value=""><br>
            <label for="lname">userpw:</label><br>
            <input type="text" id="userpw" name="userpw" value=""><br>
            <label for="lname">location:</label><br>
            <input type="text" id="location" name="location" value=""><br><br>
            <input type="submit" value="확인">
            
        </form>
    </body>
</html>