<!DOCTYPE html>
<html>
    <body>
        <h2>TEST2</h2>

        <form action="/method2" method="POST">
            <label for="fname">illgal_num:</label><br>
            <input type="text" id="illigal_num" name="illigal_num" value=""><br>
            <label for="lname">carnum:</label><br>
            <input type="text" id="carnum" name="carnum" value=""><br>
            <label for="fname">illigal_time:</label><br>
            <input type="text" id="illigal_time" name="illigal_time" value=""><br>
            <label for="lname">cctvname:</label><br>
            <input type="text" id="cctvname" name="cctvname" value=""><br><br>
            <input type="submit" value="확인">
            
        </form>
    </body>
</html>